footer
	div
		.block.block-left
		img.block.block-center(src="/public/expochat/img/menu.svg?_v=20220920212312" alt="")
		.block.block-right
		button(data-nav="profile")
			| FOLLOW
			<br>
			| UP
		nav
			span._icon-live.active(data-nav="live" data-count="1")