section#live(data-section='live')
	header.header
		span.access._icon-camera
		button#merge.hidden Merge
		div
			.top-header
				img(src='@img/logo.svg' alt='logo')
				.event-name
					h2 Event Name
					span 
			.stats
				span
					img(src='@img/stat-2-yellow.svg?_v=20230428135958' alt='')
					b.m 100
				span
					img(src='@img/stat-3-yellow.svg?_v=20230428135958' alt='')
					b.u 100
				span
					img(src='@img/stat-1-yellow.svg?_v=20230428135958' alt='')
					b.c 100
	.content-wrapper
		.content