molecule
	avatar.editable(data-uid="111", style="background-image:url(https://cdn.meyou.id/pics/Rattlesnake.png); background-color: #3366FF;")
	.info
		useful(data-uid="111") 222222
			.ripple
		seeking(data-uid="111") 222222
			.ripple
	.name
		name(data-uid="111")
		b &bull; 
		company(data-tid="111") company
		.ripple