@use "sass:math";

// Подключение миксинов ================================================================
@import "base/mixins";

// Подключение шрифтов =================================================================
// добавить флаг &display=swap при подключении через google fonts
// @import url(https://fonts.googleapis.com/css?family=Montserrat:500,600,700&display=swap);

// Подключение локальных шрифтов
@import "fonts/fonts";

// Подключение иконочных шрифтов========================================================
// Подключить если есть файл иконочного шрифта
@import "fonts/icons";

// @import "base/swiper";


// Шрифт по умолчанию
$fontFamily: "Roboto";
$fontSize: rem(16); // где 14px - размер шрифта по умолчанию из макета

// Основные цвета
$mainColor: #000; // Цвет шрифта по умолчанию
$mainHighlightColor: #FDD32A;
$mainAdditionalColor: #D8D8D6;
$mainTextColor: #9D9D95;
 
// Настройки ===========================================================================
// Минимальная ширина страницы
$minWidth: 320;
// Ширина полотна (макета)
$maxWidth: 1920;
// Ширина ограничивающего контайнера (0 = нет ограничения)
$maxWidthContainer: 1280;
// Общий отступ у контейнера
// 30 = по 15px слева и справа, 0 = нет отступа
$containerPadding: 30;
// Тип адаптива:
// 1 = отзывчивость (у контейнера нет брейк-поинтов)
// 2 = по брейк-поинтам (контейнер меняет свою ширину по брейк-поинтам)
$responsiveType: 1;
// Ширина срабатывания первого брейкпоинта
$containerWidth: $maxWidthContainer + $containerPadding;
// Брейк-поинты
$pc: em($containerWidth); // ПК, ноутбука, некоторые планшеты в гор. положении
$tablet: em(991.98); // Планшеты, некоторые телефоны в гор.положении
$mobile: em(767.98); // Телефоны L 
$mobileSmall: em(479.98); // Телефоны S 

// Обнуление и общие параметры
@import "base/null";

// кастомный скроллбар

* {
	scrollbar-width: none;
}

*::-webkit-scrollbar {
	width: 5px;
	height: 5px;
}
*::-webkit-scrollbar-track {
	background: $mainAdditionalColor;        /* цвет дорожки */	
}
*::-webkit-scrollbar-thumb {
	background-color: $mainHighlightColor;    /* цвет плашки */
	border-radius: 20px;       /* закругления плашки */
	border: 1px solid $mainAdditionalColor; 
}


body {
	padding: 0 !important;
	background-color: #fff9E0;
	font-feature-settings: "pnum" on, "lnum" on;
	// Скролл заблокирован
	.lock & {
		overflow: hidden;
		touch-action: none;
	}
	// Сайт загружен
	.loaded & {
	}

	&> div {
		&:first-child,
		&:nth-child(3) {
			position: relative;
			display: flex;flex-direction: column;
			align-items: center;
			height: 100%;

			.shape {
				position: absolute;
				top: 0;
				left: 0;
				z-index: -1;
			}

			.shape-1 {
				top: rem(5);
			}

			&> * {
				min-width: 0;
			}
		}
	}

	&:not([data-role=exhibitor]) [data-access=exhibitor] {
		display: none;
	}

	&:not([data-role=visitor]) [data-access=visitor] {
		display: none;
	}

	&[data-role=moderator] {
		&> div {
			&:first-child,
			&:nth-child(3) {
				display: flex;
				flex-direction: row;
				max-width: unset;
			}
		}
		section {
			position: relative;
			top: unset;
			bottom: unset;
			margin: 0;
			display: flex;
			flex: 1 1 auto;
			max-width: 100%;
			@media (max-width:$mobile){
				position: fixed;
				top: 0;
				left: 0;
				width: 100%;
			}

			header {
				border-bottom: 1px solid;
			}

			span._icon-arrow-left {
				display: none;

				@media (max-width:$mobile){
					display: block;
				}
			}
		}

		aside {
			height: 100vh;
			overflow: scroll;
			border-right: 1px solid;
			background-color: #fff;
			transition: transform 0.3s ease;

			@media (max-width:$mobile){
				position: fixed;
				top: 0;
				left: 0;
				bottom: 0;
				width: 100%;
				height: 100%;
				transform: translateX(-100%);
				z-index: 9;
			}

			.active {

				@media (max-width:$mobile){
					transform: translateX(0);
				}
			}
		}
	}
	
}

body,
header {
	&> div {
		&:first-child {
			max-width: 37.5rem;
			box-sizing: content-box;
			margin: 0 auto;
		}
	}
}

// Оболочка ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
	min-height: 100%;
	max-width: $maxWidth;
	display: flex;
	flex-direction: column;
	overflow: hidden;
	margin: 0 auto;
	// Прижимаем footer
	> main {
		flex: 1 1 auto;
	}
	// Фикс для слайдеров
	> * {
		min-width: 0;
	}
}

// Ограничения контейнера ================================================

// (i) Стили будут применяться ко 
// всем классамм содержащим *__container
// Например, header__container, main__container
// Снипет (HTML): cnt

@if ($responsiveType == 1) {
    // Отзывчивая
    [class*="__container"] {
        @if ($maxWidthContainer > 0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
            margin: 0 auto;
        }
        @if ($containerPadding > 0) {
            padding: 0 rem(math.div($containerPadding, 2));
        }
    }
} @else {
    // По брейк-поинтам
    [class*="__container"] {
        margin: 0 auto;
        @if ($maxWidthContainer > 0) {
            max-width: rem($maxWidthContainer);
            box-sizing: content-box;
        } @else {
            @if ($containerPadding > 0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
        @media (max-width: $pc) {
            max-width: rem(970);
        }
        @media (max-width: $tablet) {
            max-width: rem(750);
        }
        @media (max-width: $mobile) {
            max-width: none;
            @if ($containerPadding > 0 and $maxWidthContainer > 0) {
                padding: 0 rem(math.div($containerPadding, 2));
            }
        }
    }
}

// Подключение базовых стилей, шаблонов (заготовок) и вспомогательных классов
// Для подключения/отключения конкретных стилей смотри base.scss
@import "base";

// Подключение стилей общих элементов проекта
@import "common";

// Подключение стилей отдельных блоков
@import "chat";
@import "profile";
@import "header";
// @import "hero";
// @import "about";
// @import "how";
// @import "presentation";
@import "footer";

// Подключение стилей отдельных страниц
@import "animation";

// @import "libs/tippy"; 
// @import "base/swiper"; 
